body {
    background-color: rgb(56, 56, 56);
    color: white;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    text-align: center;
    overflow-x: hidden;

    margin-left: auto;
    margin-right: auto;

}

#TopBar {
    background-color: rgb(39, 39, 39);
    position: relative;

    top: -2vh;
    bottom: 0vh;

    width: 100vw;
}

#TopBar_Name {
    transition: 645ms;
    position: relative;
    top: .6vh;

    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#TopBar h4 {
    transition: 645ms;
    position: relative;
    top: -1.5vh;
    color: rgb(199, 199, 199);
}

#TopBar_Name:hover {
    color: rgb(222, 253, 249);
}

#TopBar h4:hover {
    color: rgb(222, 253, 249);
}


#HighlightBar {
    background-color: rgb(145, 74, 74);
    position: relative;

    top: -5vh;
}

#BottomBar {
    background-color: rgb(39, 39, 39);
    color: white;

    position: relative;

    top: 28vh;
    bottom: 0vh;

    margin-left: auto;
    margin-right: auto;

    width: 100vw;
}

#CreditTitle {
    width: fit-content;
    transition: 645ms;
    position: relative;
    top: 1vh;

    margin-left: auto;
    margin-right: auto;
}

#ContactLink {
    position: relative;
    top: -1vh;
    color: white;
}

#CreditTitle:hover {
    color: rgb(21, 114, 201);
}

#ContactLink:visited {
    color: rgb(199, 199, 199);
}

#ContactLink:hover {
    cursor: grab;
    color: rgb(222, 253, 249);
}

#InfoSection {
    width: 65vw;
    height: auto;

    margin-left: auto;
    margin-right: auto;

    position: relative;
    top: 2vh;
}

#InfoSection h2 {
    position: relative;
    top: -.2vh;
}

#InfoSection a{
    position: relative;
    top: -1.6vh;
    font-size: 135%;
}

#InstagramLink {
    transition: 645ms;
    position: relative;
    top: -1vh;
    color: white;
}

#InstagramLink:hover {
    cursor: grab;
    color: rgb(75, 0, 214);
}
#InstagramLink:hover:visited {
    cursor: grab;
    color: rgb(75, 0, 214);
}

#InstagramLink:visited {
    color: rgb(199, 199, 199);
}

.Reference{
    position: relative;
    display: grid;
    
    margin-left: auto;
    margin-right: auto;

    left: 1vw;

    row-gap: 2.5vh;
    grid-auto-flow: column;

    top: 5vh;
}
.Reference img{
    pointer-events: none;

    height: auto;
    width: 25vw;

    margin-left: auto;
    margin-right: auto;
}

#BookingButton {
    transition: 645ms;
    position: relative;

    top: 15vh;

    background-color: rgb(104, 104, 104);
    color: white;

    border: none;
    font-size: 165%;

    width: auto;
    height: 5vh;
}

#BookingButton:hover {
    cursor: grab;
    font-weight: 300;
    font-size: 163%;
    background-color: rgb(51, 51, 51);
}

#ViewReferences {
    position: relative;

    margin-left: auto;
    margin-right: auto;
    
    top: 1vh;

    cursor: grab;
}