body {
    background-color: rgb(56, 56, 56);
    color: white;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    text-align: center;
    overflow-x: hidden;

    margin-left: auto;
    margin-right: auto;

}

#TopBar {
    background-color: rgb(39, 39, 39);
    position: relative;

    top: -2vh;
    bottom: 0vh;

    width: 100vw;
}

#TopBar_Name {
    transition: 645ms;
    position: relative;
    top: .6vh;
}

#TopBar h4 {
    transition: 645ms;
    position: relative;
    top: -1.5vh;
    color: rgb(199, 199, 199);
}

#TopBar_Name:hover {
    color: rgb(222, 253, 249);
    font-size: 155%;
}

#TopBar h4:hover {
    color: rgb(222, 253, 249);
}


#HighlightBar {
    background-color: rgb(145, 74, 74);
    position: relative;

    top: -5vh;
}

#BottomBar {
    background-color: rgb(39, 39, 39);
    color: white;

    position: relative;

    top: 81.5vh;
    bottom: 0vh;

    width: 100vw;
}

#CreditTitle {
    position: relative;
    top: 1vh;
}

#ContactLink {
    position: relative;
    top: -1vh;
    color: white;
}

#CreditTitle:hover {
    color: rgb(222, 253, 249);
}

#ContactLink:visited {
    color: rgb(199, 199, 199);
}

#ContactLink:hover {
    color: rgb(222, 253, 249);
}

#InfoSection {
    width: 45vw;
    margin-left: auto;
    margin-right: auto;

    position: relative;
    top: -2vh;
}

#InfoSection h2 {
    position: relative;
    top: -.2vh;
}

#InfoSection a{
    position: relative;
    top: -1.6vh;
    font-size: 135%;
}

#InstagramLink {
    position: relative;
    top: -1vh;
    color: white;
}

#InstagramLink:visited {
    color: rgb(199, 199, 199);
}


